<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center" fxLayoutGap="32px">

	<mat-card fxFlex="50" fxFlex.sm="100">
		<mat-card-title>Saldo atual disponível</mat-card-title>
		<mat-card-subtitle>Saldo total disponível para transferências.</mat-card-subtitle>		
		<h3 class="balance">{{ data.balance | currency:'BRL':'symbol' }}</h3>
		<div class="f-right mt-2">
			<a routerLink="/" mat-button color="warn">Cancelar transferência</a>
		</div>
	</mat-card>

	<mat-card fxFlex="50" fxFlex.sm="100">
		<mat-card-title>Fazer nova transferência</mat-card-title>
		<mat-card-subtitle>Insira um valor e a conta destino para realizar uma transferência.</mat-card-subtitle>		
		<div class="form-transfer">
			<form (ngSubmit)="onSubmit()">
		
				<div fxFlexLayout="row" fxLayoutAlign="space-around center">
					<mat-icon fxFlex="10">attach_money</mat-icon>
					<div fxFlex="90">
						<mat-form-field class="form-field full-width">
							<input 
								matInput 
								required
								pattern="[0-9]+([\.,][0-9]+)?"
								placeholder="Valor a transferir"  
								[(ngModel)]="value" 
								[formControl]="valueFormControl"
								name="value"
							>
							<mat-error *ngIf="valueFormControl.hasError('pattern')">
								Digite um valor válido (ex.: 12,50 ou 12.50)
							</mat-error>
							<mat-error *ngIf="valueFormControl.hasError('required')">
								Insira o valor para transferir
							</mat-error>
						</mat-form-field>
					</div>
				</div>
		
				<div fxLayout="row" fxLayoutAlign="space-around center">
					<mat-icon fxFlex="10">account_box</mat-icon>
					<div fxFlex="90">
						<mat-form-field class="form-field full-width">
							<input
								id="amountToTransfer"
								matInput
								placeholder="Conta destino" 
								required
								pattern="[0-9]{0,4}"
								maxlength="4" 
								minlength="4" 
								[(ngModel)]="toAccount" 
								name="account"
								#account="ngModel"
							>
							<mat-error *ngIf="accountFormControl.hasError('pattern') || accountFormControl.hasError('minlength')">
								Conta inválida
							</mat-error>
							<mat-error *ngIf="accountFormControl.hasError('required')">
								Insira o número da conta
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group">
					<mat-checkbox [(ngModel)]="email" name="email" color="primary">Enviar comprovante por e-mail</mat-checkbox>
				</div>
				<div class="form-group">
					<button 
						mat-raised-button 
						color="primary" 
						class="text-uppercase full-width btn-large"
						[disabled]="account.errors?.required"
					>Confirmar transferência</button>
				</div>
			</form>
		</div>
	</mat-card>

</div>
