<mat-toolbar color="warn" class="main-toolbar">
	<mat-toolbar-row [fxLayout]="row" fxLayoutAlign="space-between center">

		<div fxShow fxShow.gt-sm="false">
			<button mat-icon-button (click)="sidenav.toggle()" id="menuBurgerBtn">
				<mat-icon aria-label="Menu">menu</mat-icon>
			</button>
		</div>

		<div fxHide fxShow.gt-sm="true">
			<div [fxLayout]="column" fxLayoutAlign="center center">
				
				<a *ngIf="router.url != '/'" routerLink="/" mat-icon-button>
					<mat-icon>arrow_back</mat-icon>
				</a>

				<div [fxLayout]="column" fxLayoutAlign="center center">
					<div class="avatar">{{ data.username | iniciais }}</div>
					<div>
						<div class="name">Olá, {{ data.username }}</div>
						<div class="account">conta: {{ data.account }}</div>
					</div>
				</div>

			</div>
		</div>

		<div>
			<span fxHide fxShow.gt-sm="true">
				<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-button>
					<mat-icon>home</mat-icon>
					<span>Início</span>
				</a>
				<a routerLink="/transferencia" routerLinkActive="active" mat-button id="transferBtnDesktop">
					<mat-icon>swap_vert</mat-icon>
					<span>Transferência</span>
				</a>
				<a routerLink="/extrato" routerLinkActive="active" mat-button id="extratoBtnDesktop">
					<mat-icon>format_list_bulleted</mat-icon>
					<span>Extrato</span>
				</a>
			</span>

			<button mat-icon-button [matMenuTriggerFor]="menu" id="tresPontosBtn">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item disabled>
					<mat-icon>sync</mat-icon>
					<span>Sincronizar</span>
				</button>
				<button color="acent" mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Configurações</span>
				</button>
				<button mat-menu-item (click)="desconectar()" id="logOutDesktop">
					<mat-icon>exit_to_app</mat-icon>
					<span>Desconectar</span>
				</button>
			</mat-menu>
		</div>

	</mat-toolbar-row>
</mat-toolbar>

<!-- sidenav -->
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav class="sidenav" #sidenav mode="over" opened="false">
		<div class="sidenav-header">
			<div class="infos" fxLayout="column" fxLayoutAlign="end start" fxFill>
			
				<!-- <a *ngIf="router.url != '/'" routerLink="/" mat-icon-button>
					<mat-icon>arrow_back</mat-icon>
				</a> -->
			
				<div>
					<div class="avatar">{{ data.username | iniciais }}</div>
					<div>
						<div class="name">Olá, {{ data.username }}</div>
						<div class="account">conta: {{ data.account }}</div>
					</div>
				</div>
			
			</div>
		</div>
		<div class="sidenav-content">
			<mat-list>

				<!-- 
					Google apps não tem isso, mas talvez seja bom add um botão para fechar a sidenav 
				<mat-list-item (click)="sidenav.toggle()">
					<mat-icon mat-list-icon>arrow_back</mat-icon>
				</mat-list-item>
				<mat-divider></mat-divider>
				 -->

				<mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.toggle()">
					<mat-icon mat-list-icon>home</mat-icon>
					<h4 mat-line>Home</h4>
				</mat-list-item>
				<mat-list-item routerLink="/transferencia" routerLinkActive="active" (click)="sidenav.toggle()" id="transferBtnMobile">
					<mat-icon mat-list-icon>swap_vert</mat-icon>
					<h4 mat-line>Transferência</h4>
				</mat-list-item>
				<mat-list-item routerLink="/extrato" routerLinkActive="active" (click)="sidenav.toggle()" id="extratoBtnMobile">
					<mat-icon mat-list-icon>format_list_bulleted</mat-icon>
					<h4 mat-line>Extrato completo</h4>
				</mat-list-item>
				
				<mat-divider></mat-divider>

				<mat-list-item *ngIf="false" disabled>
					<mat-icon mat-list-icon>sync</mat-icon>
					<h4 mat-line>Sincronizar</h4>
				</mat-list-item>

				<mat-list-item>
					<mat-icon mat-list-icon>settings</mat-icon>
					<h4 mat-line>Configurações</h4>
				</mat-list-item>
				<mat-list-item (click)="desconectar()" id="logOutMobile">
					<mat-icon mat-list-icon>exit_to_app</mat-icon>
					<h4 mat-line>Desconectar</h4>
				</mat-list-item>

			</mat-list>
		</div>
	</mat-sidenav>
</mat-sidenav-container>
