/* main navbar */
.main-toolbar {
	@media (max-width: 960px) {
		position: fixed;
		top: 0;
		z-index: 100;
	}
}
.avatar {
	background: #ddd;
	border-radius: 50%;
	color: #fff;
	font-weight: 400;
	height: 40px;
	line-height: 38px;
	margin-right: 15px;
	text-align: center;
	width: 40px;
}
.name, .account {
	line-height: 1.4;
}
.name {
	font-size: 18px;
	@media (max-width: 480px) {
		font-size: 14px;
	}
}
.account {
	opacity: 0.8;
	font-size: 12px;
	font-weight: 400;
}

.mat-button.active {
	color: #111;
}

/* sidenav */
.sidenav-container {
	background: transparent;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1000;	
}
.sidenav {
	overflow-y: auto;
	width: 320px;
}
.sidenav-header {
	background: #000 url(../../../assets/images/sidenav-header-img.jpg) center no-repeat;
	background-size: cover;
	height: 160px;
	.infos {
		color: #fff;
		padding: 16px 16px 8px;
		.avatar {
			height: 60px;
			margin-bottom: 16px;
			line-height: 60px;
			width: 60px;
		}
	}
}

.mat-list-item {
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	&.active, &:hover {
		background: rgba(#000, 0.05);
		h4, .mat-icon {
			color: #1565C0;
		}
	}
	.mat-icon {
		color: #607D8B;
	}
	h4 {
		color: #000;
		font-size: 14px;
		font-weight: 500;
	}
}
