<mat-toolbar color="primary" class="main-toolbar">
	<mat-toolbar-row [fxLayout]="row" fxLayoutAlign="space-between center">

		<div>
			<div [fxLayout]="column" fxLayoutAlign="center center">
				
				<a *ngIf="router.url != '/'" routerLink="/" routerLinkActive="active" mat-icon-button>
					<mat-icon>arrow_back</mat-icon>
				</a>

				<div [fxLayout]="column" fxLayoutAlign="center center">
					<div class="avatar">{{ data.username | iniciais }}</div>
					<div>
						<div class="name">Olá, {{ data.username }}</div>
						<div class="account">conta: {{ data.account }}</div>
					</div>
				</div>

				<!-- <h4>{{ pageTitle }}</h4> -->
			</div>
		</div>

		<div>
			<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-button fxHide fxShow.gt-xs="true">
				<mat-icon>home</mat-icon>
				<span>Início</span>
			</a>
			<a routerLink="/transferencia" routerLinkActive="active" mat-button fxHide fxShow.gt-xs="true">
				<mat-icon>swap_vert</mat-icon>
				<span>Transferência</span>
			</a>
			<a routerLink="/extrato" routerLinkActive="active" mat-button fxHide fxShow.gt-xs="true">
				<mat-icon>format_list_bulleted</mat-icon>
				<span>Extrato</span>
			</a>

			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item disabled>
					<mat-icon>sync</mat-icon>
					<span>Sincronizar</span>
				</button>
				<button color="acent" mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Configurações</span>
				</button>
				<button mat-menu-item (click) = "desconectar()">
					<mat-icon>exit_to_app</mat-icon>
					<span>Desconectar</span>
				</button>
			</mat-menu>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
