/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');

html {
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: teal url(assets/images/login-img.jpg) bottom left no-repeat;
	background-size: cover;
	font-family: "Roboto", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 1rem;
}

.text-thin {
	font-weight: 100;
}
.text-uppercase {
	text-transform: uppercase;
}

.full-width {
	width: 100%;
}
.vertical-center {
	align-items: center;	
	display: flex;
	height: 100%;
	justify-content: center;
	&.horizontal {
		flex-direction: column;
	}
}
.opacity-9 {
	background: rgba(#fff, 0.9);
}

.btn-large {
	height: 50px;
	padding: 1rem;
}
