<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center" fxLayoutGap="32px">

	<mat-card fxFlex="50" fxFlex.sm="100">
		<mat-card-title>Saldo em conta</mat-card-title>
		<h3 class="balance"> {{ 'R$ ' + data.balance }}</h3>
	
		<div class="f-right mt-2">
			<a routerLink="transferencia" mat-button color="primary">Fazer transferência</a>
		</div>
	</mat-card>

	<mat-card fxFlex="50" fxFlex.sm="100">
		<mat-card-title>Lançamentos recentes</mat-card-title>
		
		<div class="table-container" *ngIf="logs.length;else nothingToShow">
			<mat-list *ngFor="let log of logs">
				<mat-list-item fxLayout="column">
					<div fxFlex="20" class="value">{{ log.value }}</div> 
					<div fxFlex="60" class="date">{{ log.date | date: 'shortTime' }}</div>
					<div fxFlex="20" class="from-account">{{ log.destAccount }}</div>
				</mat-list-item>
			</mat-list>
			<div class="f-right mt-2">
				<a routerLink="extrato" mat-button color="primary">Ver extrato completo</a>
			</div>
		</div>

		<ng-template #nothingToShow>
			<div class="nothing-to-show">
				<mat-card-subtitle class="text-center">Não há lançamentos recentes</mat-card-subtitle>
			</div>
		</ng-template>
		
	</mat-card>
</div>
