.mat-list {
	padding-top: 0;
}
.mat-list-item {
	font-size: 14px;
}
.type {
	color: #607d8b;
	opacity: 0.7;
}
.value-credit, 
.value-debit {
	font-weight: 500;
}
.value-credit {
	color: #2196F3;
	&:before {
		content: '+';
	}
}
.value-debit {
	color: #F44336;
}

@media (max-width: 800px) {
	.from-account {
		display: none;
	}
}
