.fixed-bottom {
	bottom: 0;
	position: fixed;
}
.btn-label {
	line-height: 1;
}
.mat-button {
	flex: 1;
	transition: all 0.3s;
	&:hover,
	&.active {
		border-bottom: 3px solid #000;
		color: #111;
	}
}
