<mat-toolbar class="fixed-bottom" color="primary">
	<mat-toolbar-row [fxLayout]="row" fxLayoutAlign="center center">
		<div>
			<a routerLink="/" mat-button>
				<mat-icon>home</mat-icon>
				<div class="btn-label">Início</div>
			</a>
			<a routerLink="/transferencia" mat-button>
				<mat-icon>swap_vert</mat-icon>
				<div class="btn-label">Transferência</div>
			</a>
			<a routerLink="/extrato" mat-button>
				<mat-icon>format_list_bulleted</mat-icon>
				<div class="btn-label">Extrato</div>
			</a>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
