<mat-toolbar class="fixed-bottom" color="primary">
	<mat-toolbar-row [fxLayout]="row" fxLayoutAlign="space-around stretch">
		<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-button>
			<mat-icon>home</mat-icon>
			<div class="btn-label">Início</div>
		</a>
		<a routerLink="/transferencia" routerLinkActive="active" mat-button>
			<mat-icon>compare_arrows</mat-icon>
			<div class="btn-label">Transferência</div>
		</a>
		<a routerLink="/extrato" routerLinkActive="active" mat-button>
			<mat-icon>format_list_bulleted</mat-icon>
			<div class="btn-label">Extrato</div>
		</a>
	</mat-toolbar-row>
</mat-toolbar>
