.page {
	background: teal url(../../../assets/images/login-img.jpg) bottom left no-repeat;
	background-size: cover;
	overflow: hidden;
}
.login-header {
	color: #fff;
	text-align: center;
	h2 {
		font-weight: 100;
		@media (max-width: 480px) {
			font-size: 20px;
		}
	}
	.mat-icon {
		line-height: 60px;
	}
}
.form-login {
	min-width: 280px;
}
.opacity-7 {
	background: rgba(#fff, 0.7);
}
.text-light {
	color: #fff;
	a {
		color: #fff;
	}
}
