.page {
	background: teal url(../../../assets/images/login-img.jpg) bottom left no-repeat;
	background-size: cover;
}

.login-header {
	color: #fff;
	text-align: center;
	h1 {
		margin-top: 0;
	}
	h2 {
		font-weight: 100;
	}
}

.form-login {
	margin-top: 3rem;
	min-width: 280px;
	.form-group {
		margin: 1rem 0 0;
	}
}
