<div class="page" @fallIn>

	<div class="container vertical-center horizontal enter-from-top">
		<header class="login-header">
			<h1><img src="./assets/images/logo.png" alt="NG Bank Line" width="260"></h1>
			<h2 class="headline">Seja bem-vindo ao seu banco<br /> 100% online</h2>
		</header>

		<mat-card class="opacity-7">
			<div class="form-login">
				<form (ngSubmit)="onSubmit()">

					<div fxLayout="row" fxLayoutAlign="space-around center">
						<mat-icon fxFlex="10">person_outline</mat-icon>
						<div fxFlex="90">
							<mat-form-field class="form-field full-width">
								<input
									matInput 
									placeholder="Número da conta" 
									[formControl]="accountFormControl" 
									pattern="[0-9]{0,4}" 
									maxlength="4" 
									minlength="4" 
									[(ngModel)] = "data.account"
								>
								<mat-error *ngIf="accountFormControl.hasError('pattern') || accountFormControl.hasError('minlength')">
									Conta inválida
								</mat-error>
								<mat-error *ngIf="accountFormControl.hasError('required')">
									Insira o número da conta
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<div fxLayout="row" fxLayoutAlign="space-around center">
						<mat-icon fxFlex="10">lock_outline</mat-icon>
						<div fxFlex="90">
							<mat-form-field class="form-field full-width">
								<input 
									matInput 
									type="password" 
									placeholder="Senha eletrônica" 
									[formControl]="passwordFormControl" 
									pattern="[0-9]{0,6}" 
									maxlength="6" 
									minlength="6" 
									[(ngModel)]="data.password"
								>
								<mat-error *ngIf="passwordFormControl.hasError('required')">
									Insira sua senha
								</mat-error>
								<mat-error *ngIf="passwordFormControl.hasError('pattern')">
									A senha deve ser numérica
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<div class="form-group">
						<mat-slide-toggle [(ngModel)]="logado" name="logado">continuar logado</mat-slide-toggle>
					</div>
					<div class="form-group">
						<button
							type="submit"
							mat-raised-button 
							color="primary" 
							class="text-uppercase full-width btn-large"
						>Acessar minha conta</button>
					</div>
				</form>
			</div>
		</mat-card>
		<p class="text-light"><small>powered by <a href="https://www.avanade.com/" target="_blank">Avanade</a></small></p>
	</div>

</div>
