<div class="container vertical-center horizontal">
	<header class="login-header">
		<h1>NG Bank<span class="text-thin">LINE</span></h1>
		<h2>Seja bem-vindo ao seu banco<br /> 100% online</h2>
	</header>
	<div class="form-login">
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Email" [formControl]="emailFormControl">
				<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>
		</form>
	</div>
</div>
