.page {
	background: #EC0000 url(../../../assets/images/login-img.jpg) bottom right no-repeat;
	background-size: cover;
	overflow: hidden;
}
.login-header {
	color: #fff;
	text-align: center;
	h2 {
		font-weight: 100;
		@media (max-width: 480px) {
			font-size: 20px;
		}
	}
}
.form-login {
	min-width: 280px;
	.mat-card {
		margin-bottom: 3rem;
	}
}
.text-light {
	color: #333;
	a {
		font-weight: 500;
		text-decoration: none;
		&.avanade-link {
			color: #e54e07;
		}
		&.gama-link {
			color: #63dc3e;
		}
	}
}
