<div class="container" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="32px">
	<mat-card fxFlex="100">
		<mat-card-title>Extrato completo</mat-card-title>

		<div *ngIf="logs.length;else nothingToShow">
			<mat-card-subtitle>Lista completa de transações realizadas. Use o campo de busca abaixo para filtrar por conta, nome, data ou nome do usuário.</mat-card-subtitle>		
			
			<!-- <mat-list *ngFor="let log of logs">
				<mat-list-item>{{ log.value }} - {{ log.date | date: 'dd/MM/yyyy' }} - {{ log.destAccount }}</mat-list-item>
			</mat-list> -->

			<div class="full-estatements">
				<div class="mat-table-header">
					<div fxLayout="row" fxLayoutAlign="space-between center">
						<mat-icon>search</mat-icon>
						<mat-form-field class="full-width">
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar lista de transações">
						</mat-form-field>
					</div>
				</div>
			
				<mat-table #table [dataSource]="dataSource">
			
					<!-- Type Column -->
					<ng-container matColumnDef="type">
						<mat-header-cell *matHeaderCellDef> Tipo: </mat-header-cell>
						<mat-cell *matCellDef="let extrato"><mat-icon>{{ extrato.type ? 'arrow_forward' : 'arrow_back' }}</mat-icon></mat-cell>
					</ng-container>
			
					<!-- Name Column -->
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef> Nome: </mat-header-cell>
						<mat-cell *matCellDef="let extrato"> {{extrato.name}} </mat-cell>
					</ng-container>
					
					<!-- Account Column -->
					<ng-container matColumnDef="account">
						<mat-header-cell *matHeaderCellDef> Conta: </mat-header-cell>
						<mat-cell *matCellDef="let extrato"> {{extrato.account}} </mat-cell>
					</ng-container>
			
					<!-- Date Column -->
					<ng-container matColumnDef="date">
						<mat-header-cell *matHeaderCellDef> Data: </mat-header-cell>
						<mat-cell *matCellDef="let extrato"> {{extrato.date | date: 'dd/MM/yyyy' }} </mat-cell>
					</ng-container>
			
					<!-- Symbol Column -->
					<ng-container matColumnDef="value">
						<mat-header-cell *matHeaderCellDef> Valor: </mat-header-cell>
						<mat-cell *matCellDef="let extrato"> {{extrato.value | currency: 'BRL':'symbol'}} </mat-cell>
					</ng-container>
			
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<!-- paginator provavelmente terá que ficar pra proxima atualização -->
				<!-- <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
			</div>

		</div>

		<ng-template #nothingToShow>
			<div class="nothing-to-show">
				<mat-card-subtitle class="text-center">Não há lançamentos recentes</mat-card-subtitle>
			</div>
		</ng-template>

	</mat-card>
</div>
